button {
    margin: 2px;
}

label {
    font-weight: bold;
}

.hero-div p {
    max-width: 150px;
    display: block;
    margin-left: 10px;
} 

div, div#gifs-appear-here .hero-div {
    display: inline;
}

.hero-div {
    float: left;
}

img {
    margin: 10px;
}

form {
    margin-right: 10px;
}

.hero-btns {
    margin-left: 10px;
}